* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #0ff;
}

.container {
    text-align: center;
}

.title {
    font-size: 3rem;
    color: #0ff;
    text-shadow: 0 0 20px #0ff, 0 0 30px #00ffff;
    margin-bottom: 30px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 10px;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: #222;
    border: 3px solid #0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #0ff;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.cell:hover {
    background-color: #333; 
    box-shadow: 0 0 20px #0ff, 0 0 30px #00ffff;
    color: #0ff; 
}


.cell.active {
    color: #ff0;
    text-shadow: 0 0 10px #ff0, 0 0 20px #ffff00;
}

.resetbutton{
    margin-top: 60px;
    color: #0ff;
    background-color: #222;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #00ffff;
    box-shadow: 0 0 10px #0ff, 0 0 10px #00ffff;
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;

}

.newgame{
    margin-top: 60px;
    color: #0ff;
    background-color: #222;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #00ffff;
    box-shadow: 0 0 10px #0ff, 0 0 10px #00ffff;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.message{
    font-size: 30px;
}

.hide{
    display: none;
}

.x {
    color: #ff1c1c; 
    text-shadow: 0 0 10px #ff1c1c, 0 0 20px #ff0000, 0 0 30px #ff0000;
}

.o {
    color: #0ff; 
    text-shadow: 0 0 10px #0ff, 0 0 20px #00ffff, 0 0 30px #00ffff;
}
